*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background: url(zero1.jpg);
    background-size: cover;
}
.contact{
    position: relative;
    min-width: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content{
    max-width: 800px;
    text-align: center;
}
.content h2{
    font-size: 40px;
    font-weight: 500;
    color: white;
}
.content h5{
    font-size: 15px;
    font-weight: 300;
    color: white;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.box{
    position: relative;
    padding: 20px;
    display: flex;
}
.icon{
    min-width: 60px;
    height: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border: 2px solid white;
    border-radius: 24px;
}
.text1{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: white;
    flex-direction: column;
    font-weight: 300;
    border: 2px solid white;
    border-radius: 24px;
    padding: 7px;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.text1 p{
    margin-top: 10px;
}
.text1 h3{
    font-weight: 500;
    color: white;
}
.text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: white;
    flex-direction: column;
    font-weight: 300;
    border: 2px solid white;
    border-radius: 24px;
    padding: 7px;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.text p{
    margin-top: 10px;
}
.text h3{
    font-weight: 500;
    color: white;
}
.contacfrom{
    width: 40%;
    padding: 40px;
    background: rgba(44, 43, 43, 0.466);
}
.contacfrom h2{
    font-size: 27px;
    color: white;
    font-weight: 500;
    text-align: center;
}
.inputbox{
    position: relative;
    width: 100%;
    margin-top: 15px;
    transition: 0.25s;
}
.inputbox input{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: 2px solid white;
    background-color: transparent;
    text-align: center;
    color: white;
    cursor: pointer;
}
.inputbox textarea{
    width: 100%;
    padding: 30px;
    font-size: 16px;
    margin: 10px 0;
    border: 2px solid white;
    background-color: transparent;
    text-align: center;
    color: white;
    cursor: pointer;
    resize: none;
}
.inputbox span{
    color: white;
}
.inputbox select{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: 2px solid white;
    background-color: transparent;
    text-align: center;
    color:white;
    cursor: pointer;
}
.inputbox option{
    color: black;
}
.inputbox select :hover{
    color: white;
}
.inputbox1{
    position: relative;
    width: 100%;
    margin-top: 15px;
}
.inputbox1 input{
    width: 46%;
    padding: 7px 0;
    font-size: 16px;
    margin-left: 2.9%;
    border: 2px solid white;
    background-color: transparent;
    text-align: center;
    color: white;
    cursor: pointer;
}
.inputbox1 a :hover{
    background-color: yellowgreen;
}

@media (max-width: 991px){
    .contact{
        padding: 15px;
        min-width: 0vh;
    }
    .text1{
        width: 100%;
        margin-top: -10px;
    }
    .text{
        width: 100%;
    }
    .icon{
        margin-top: 1px;
    }
    .container{
        flex-direction: column;
    }
    .contactinfo{
        margin-bottom: 40px;
    }
    .container .contactinfo, .contacfrom {
        width: 100%;
    }
}

#preloder2{
    background: rgb(0, 0, 0) url(zeroww.gif) no-repeat center;
    height: 100vh;
    background-size: 25%;
    width: 100%;
    position: fixed;
    z-index: 100;
}