*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 'poppins', sans-serif;
}

body{
    background-image: url(zero3.jpg);
    width: 100%;
    height: 100vh;
    padding: 0 8%;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
}

.menu-toggle{
    display: none;
    position: absolute;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    left: 47%;
    top: 120px;
}

.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: ivory;
    border-radius: 5px;
    transition: 0.5s;
}

.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    right: -5.5px;
    top: -3px;
    opacity: 0.0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2){
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) translate(-1px, 0px) ;
}

.menu-toggle input:checked ~ span:nth-child(3){
    transform: scale(0);
}

.cont{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding: 0 002%;
}

nav{
    display: flex;
    width: 110%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}
.hiden{
    display: none;
}

nav ul{
    flex: 1;
    text-align: right;
    padding-right: 80px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
}

ul :hover{
    color: yellowgreen;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform:  translateX(-50%);
    background-color: white;
    transition: width 0.3s;
}

nav ul li a:hover:after{
    width: 50%;
}

.zero{
    word-spacing: 20px;
    position: relative;
    bottom: -40px;
    color: transparent;
    -webkit-text-stroke: 1px white;  
}

.exp{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.exp a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid white;
}

.exp span{
    word-spacing: 10px;
}

.exp a:hover{
    background-color: yellowgreen;
    color: black;
}

.Text{
    color: white;
    position: absolute;
    bottom: 8%;
}

.Text p{
    font-size: 50px;
    font-weight: 600;
}

.Text h1{
    font-size: 100px;
    line-height: 140px;
    color: transparent;
    -webkit-text-stroke: 1px white;
    background: url(back.png);
    -webkit-background-clip:text ;
    background-position: 0 0;
    animation: back 20s linear infinite;
}


@keyframes back{
    100%{
        background-position: 2000px 0;
    }    
}

.Text h3{
    font-size: 20px;
    font-weight: 600;
}

.pemanis{
    width: 500px;
    height: 500px;
    left: 60%;
    top: 15%;
    position: absolute;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
hr{
    bottom: -1%;
}

h6{
    color: white;
    position: absolute;
    bottom: -2%;
    font-size: 12px;
    font-weight: lighter;
    word-spacing: 05px;
    left: 28%;
}
.Text h3 br{
    display: none;
}

@media screen and ( max-width: 770px) {
    .menu-toggle{
        display: flex;
    }
    nav ul{
        display: flex;
        width: 110%;
        position: absolute;
        top: 0;
        left: 0px;
        justify-content: space-evenly;
        align-items: center;
        height: 100vh;
        flex-direction: column;
        background-color: black;
        z-index: 1;
        transform: translateX(100%);
        transition: all 1s;
    }
    nav ul.slide{
        transform: translateX(0);
    }
    .zero{
        font-size: 25px;
        text-align: center;
    }
    .exp span br{
        display: none;
    }

    .pemanis{
        display: none;
    }
    body{
        height: 90vh;
    }
    .Text{
        bottom: -8%;
        width: 100%;
    }
    .Text h3{
        font-size: 98%;
    }
    .Text h1{
        margin-top: -30px;
        font-size: 60px;  
    }
    .exp span{
       font-size: 12px;
       text-align:justify;
       margin-right: 50px;
       margin-bottom: 15px ; 
    }
    .exp span br{
        display: inherit;
    }
    .exp a{
        margin-bottom: 15px;
    }
    h6{
        margin-bottom: -95px;
        text-align: center;
        left: 6%;
    }
    hr{
        margin-top: -10%;
        width: 420px;
        margin-left: -12%;
    }
    .hiden{
        display: inherit;
        width: 110px;
    }
}

@media screen and ( max-width: 540px) {
    .menu-toggle{
        display: flex;
    }
    nav ul{
        display: flex;
        width: 126.5%;
        position: absolute;
        top: 0;
        left: 0px;
        justify-content: space-evenly;
        align-items: center;
        height: 100vh;
        flex-direction: column;
        background-color: black;
        z-index: 1;
        transform: translateX(100%);
        transition: all 1s;
    }
    nav ul.slide{
        transform: translateX(0);
    }
    .zero{
        font-size: 25px;
        text-align: center;
    }
    .exp span br{
        display: none;
    }

    .pemanis{
        display: none;
    }
    body{
        height: 90vh;
    }
    .Text{
        bottom: -8%;
        width: 100%;
    }
    .Text h3{
        font-size: 16px;
        margin-top: -20px;
    }
    .Text h1{
        margin-top: -40px;
        font-size: 50px;  
    }
    .exp span{
       font-size: 12px;
       text-align:justify;
       margin-right: 50px; 
    }
    .exp span br{
        display: inherit;
    }
    .Text h3 br{
        display: inherit;
    }
    .exp a{
        margin-bottom: 15px;
    }
    h6{
        margin-bottom: -95px;
        text-align: center;
        left: 6%;
    }
    hr{
        margin-top: -10%;
        width: 420px;
        margin-left: -12%;
    }
    .hiden{
        display: inherit;
        width: 110px;
    }
}

@media screen and ( max-width: 436px) {
    .menu-toggle{
        display: flex;
    }
    nav ul{
        display: flex;
        width: 126.5%;
        position: absolute;
        top: 0;
        left: 0px;
        justify-content: space-evenly;
        align-items: center;
        height: 100vh;
        flex-direction: column;
        background-color: black;
        z-index: 1;
        transform: translateX(100%);
        transition: all 1s;
    }
    nav ul.slide{
        transform: translateX(0);
    }
    .zero{
        font-size: 25px;
        text-align: center;
    }
    .exp span br{
        display: none;
    }

    .pemanis{
        display: none;
    }
    body{
        height: 90vh;
    }
    .Text{
        position: fixed;
        bottom: 4%;
        width: 100%;
    }
    .Text h3{
        font-size: 98%;
    }
    .Text h1{
        margin-top: -30px;
        font-size: 40px;  
    }
    .exp span{
       font-size: 12px;
       text-align:justify;
       margin-right: 50px; 
    }
    .exp span br{
        display: inherit;
    }
    .Text h3 br{
        display: inherit;
    }
    .exp a{
        margin-bottom: 20px;
    }
    h6{
        margin-bottom: -95px;
        text-align: center;
        left: 6%;
    }
    hr{
        margin-top: -10%;
        width: 420px;
        margin-left: -12%;
    }
    .hiden{
        display: inherit;
        width: 110px;
    }
}