*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 'poppins', sans-serif;
}

body{
    background-image: url(zero1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0 8%;
    background-position: center;
    background-size: cover;
    padding: 0 08%;
}
.cont{
    width: 100%;
    height: 100vh;
    padding: 0 8%;
    background-position: center;
    background-size: cover;
    padding: 0 002%;
}

nav{
    display: flex;
    width: 110%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}
.hiden{
    display: none;
}

nav ul{
    flex: 1;
    text-align: right;
    padding-right: 30px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
}

ul :hover{
    color: yellowgreen;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform:  translateX(-50%);
    background-color: white;
    transition: width 0.3s;
}

nav ul li a:hover:after{
    width: 50%;
}

.zero{
    color: white;
    word-spacing: 20px;
    position: relative;
    bottom: -40px;
    color: transparent;
    -webkit-text-stroke: 1px white;  
}

.exp{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.exp a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid white;
}

.exp span{
    word-spacing: 10px;
}

.exp a:hover{
    background-color: yellowgreen;
    color: black;
}

.Text{
    color: white;
    position: absolute;
    bottom: 8%;
}

.Text p{
    font-size: 50px;
    font-weight: 600;
}

.Text h1{
    font-size: 100px;
    line-height: 160px;
    margin: -10px;
    color: transparent;
    -webkit-text-stroke: 1px white;
    background: url(back.png);
    -webkit-background-clip:text ;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

@keyframes back{
    100%{
        background-position: 2000px 0;
    }    
}

.Text h3{
    font-size: 20px;
    font-weight: 600;
}

.pemanis{
    width: 500px;
    height: 500px;
    left: 60%;
    top: 15%;
    position: absolute;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

hr{
    bottom: -1%;
}

h6{
    color: white;
    position: absolute;
    bottom: -2%;
    font-size: 12px;
    font-weight: lighter;
    word-spacing: 05px;
    left: 28%;
}

@media screen and ( max-width: 994px) {
    .zero{
        font-size: 25px;
        text-align: center;
    }
    .pemanis{
        left: 13%;
        top: 10%;
        width: 400px;
        height: 400px;
        display: none;
    }
    nav{
        display: none;
    }
    .Text{
        bottom: -8%;
    }
    .Text p{
       font-size: 29px;
    }
    .Text h3{
        font-size: 15px;
    }
    .Text h1{
        margin-top: -30px;
        font-size: 47px;  
    }
    .exp span{
        margin-top: 10px;
    }
    .exp br{
        display: none;
    }
    .exp a{
        margin-left: 35px;
        margin-bottom: 10px;
    }
    h6{
        margin-bottom: -95px;
        text-align: center;
        left: 6%;
    }
    hr{
        margin-top: 1%;
        width: 420px;
        margin-left: -12%;
    }
    .hiden{
        display: inherit;
        width: 110px;
    }
    .nonhiden{
        width: 110px;
    }
}
